body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-y: scroll;
}

/* header */
header h1 a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

nav li {
  cursor: pointer;
}

.selected {
  color: blue;
}

/* about */
#avatar {
  max-width: 17rem;
  min-width: 10rem;
}

#about-caption {
  font-size: 17px;
  max-width: 50rem;
  min-width: 20rem;
}

.about-text {
  max-width: 75rem;
}

/* portfolio */
.image {
  max-width: 20rem;
}

/* footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

footer a {
  text-decoration: none;
  color: black;
}

#icons {
  height: 2rem;
}